#div2 {
    float: right;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#goat {
    background-image: url(newworld.webp);
}

.list-group {
    float: inline-start;
}

#body5 {
    background-image: url(Western-Conference4.jpg);
    background-size: 100%;
}

#east1 {
    background-image: url(theEAST.jpg);
    background-size: 100%;
}